@font-face{
    font-family: 'origins';
    src: url('/resources/fonts/origins.ttf');
}

@font-face{
    font-family: 'alien';
    src: url('/resources/fonts/alien.ttf');
}

html{
    background-color: #b8c9cb;
}

#container{
    font-family: alien;
    text-align: center;
    margin-top: 25px;
    padding: 5px;
    border: 1px solid white;
}