@font-face{
    font-family: 'origins';
    src: url('/resources/fonts/origins.ttf');
}

@font-face{
    font-family: 'alien';
    src: url('/resources/fonts/alien.ttf');
}
body{
  font-family: 'Origins';
}

html{
    background-color: #b8c9cb;
}
#container{
    font-family: 'Origins';
    margin-top: 25px;
    padding: 5px;
    border: 1px solid rgb(255, 255, 255);
}

.login {
    font-family: 'Origins';
    background: #eceeee;
    border: 3px solid #42464b;
    border-radius: 6px;
    height: 200px;
    margin: 140px 55px;
    width: 200px;
}

input[type="password"], input[type="text"] {
    font-family: 'Origins';
    margin: 31px 0 0 29px;
    width: 151px;
    height: 30px;
    
  }

  input[type="submit"] {
    font-family: 'Origins';
    width:150px;
    height:20px;
    display:block;
    font-size:12px;
    font-weight:bold;
    color:#fff;
    text-decoration:none;
    text-transform:uppercase;
    text-align:center;
    text-shadow:1px 1px 0px #37a69b;
    padding-top:2px;
    margin: 29px 0 0 29px;
    position:relative;
    cursor:pointer;
    border: none;  
    background-color: #37a69b;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius:5px;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78, 0px 10px 5px #999;
  }

  input[type="button"]{
    font-family: 'Origins';
    position: relative;
    top: -10px; left: 0px;
    font-size: 40px;  
    background-color: #2d8bb6;
    border: none;
    color: white;
    padding: 14px 40px;
    text-decoration: none;
    margin: 0px 6px;
    cursor: pointer;
  }
 input[type="text1"] {
    font-family: 'Origins';
    position: relative;
    top: -10px; left: 0px;
    font-size: 24px;
    background: center left no-repeat, linear-gradient(top, #d6d7d7, #dee0e0);
    border: 3px solid #a1a3a3;
    border-radius: 10px;
    box-shadow: 0 px rgb(0, 0, 0);
    box-sizing: border-box;
    color: #727272;
    height: 60px;
    margin: 0px 0px 0 29px;
    padding-left: 26px;
    transition: box-shadow 0.3s;
    width: 270px;
  }
